<% if user_signed_in? %>
<div class="col-12 bg-light pt-3 pb-3">
<h3 >AÑADIR NUEVO PRODUCTO</h3>
</div>

<div class="col-12 col-sm-12 col-lg-12 col-xl-12">
    <div class="row">
        <div class="container">
            <div class="column mt-2">

                <%= form_for(@producto) do |f| %>
                <div class="row mb-2">
                    <div class="col">
                        <label for="">Nombre del producto</label>
                        <%= f.text_field :nombre , class:"form-control",placeholder:"Nombre"%>
                    </div>
                    <div class="col">
                        <label for="">Categoria</label>
                        <%= f.text_field :categoria , class:"form-control",placeholder:"Marca"%>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-12">
                        <label for="">Descripcion</label>
                        <%= f.text_area :descripcion , class:"form-control",placeholder:"Descripcion"%>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="">Precio</label>
                        <%= f.text_field :precio , class:"form-control",placeholder:"Precio"%>
                    </div>
                    <div class="col">
                        <label for="">Stock</label>
                        <%= f.text_field :stock , class:"form-control",placeholder:"Stock"%>
                    </div>
                    
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <label for="">urlimagen</label>
                        <%= f.text_field :urlimagen , class:"form-control",placeholder:"urlimagen"%>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <%= f.submit "AGREGAR PRODUCTO",class:"btn btn-dark" %>
                    <%= link_to "<button class='btn btn-light'>REGRESAR</button>".html_safe, 'javascript:history.back()' %>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</div>
<% else %><div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="d-flex justify-content-center" style="background-color: #f4f4f4;">
            <h4 class="titulo-login">Iniciar Sesion</h4>
          </div>
          <div class="modal-body">
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <label class="mt-0">E-mail</label>
              <%= f.text_field :email, class:"form-control" %>
              <label class="mt-4">Contraseña</label>
              <%= f.password_field :password, class:"form-control" %>
              
              <div class="d-flex justify-content-between mt-3">
                <div>
                <%= f.check_box :remember_me %>
                <%= f.label :Recuerdame %>
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <%= f.submit 'Iniciar sesion',class:"btn btn-outline-danger" %>
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Volver</button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<h3 >INGRESA SESION CON ROL ADMINISTRADOR</h3>
<a type="button" class="navbar-brand ml-2 mr-3 btn btn-dark text-light" data-toggle="modal" data-target="#admin">INGRESAR</a>
<%= link_to "<button class='form-control btn btn-outline-secondary'>VOLVER</button>".html_safe, root_path %>

<div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="d-flex justify-content-center" style="background-color: #f4f4f4;">
            <h4 class="titulo-login">Iniciar Sesion</h4>
          </div>
          <div class="modal-body">
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <label class="mt-0">E-mail</label>
              <%= f.text_field :email, class:"form-control" %>
              <label class="mt-4">Contraseña</label>
              <%= f.password_field :password, class:"form-control" %>
              
              <div class="d-flex justify-content-between mt-3">
                <div>
                <%= f.check_box :remember_me %>
                <%= f.label :Recuerdame %>
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <%= f.submit 'Iniciar sesion',class:"btn btn-outline-danger" %>
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Volver</button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>