<div class="col-12 bg-light">
    <div clasS="row ml-4">
        <i class='material-icons md-dark md-48 mt-2'>shopping_cart</i>
        <p class="titulo-carrito ml-3 mt-2">Mi carrito</p>
    </div>
</div>
<div class="col-12 mt-4">
    
    <div class="row">
        <div class="col-8">
            <div class="col-12 mt-3 ml-3">
                <p class="titulo-cantidad">Productos</p>
            </div>
            <div class="col-12 mt-5 ml-3">
                <table class="table ">
                <thead>
                <tr class="cabecera">
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <% if @carritos.nil? %>
                <tr>
                    <th>NO TIENE NADA EN EL CARRITO</th>
                </tr>
                <% else %>
                <% @carritos.each do |carrito| %>
                <tr>
                    <th><%= carrito.nombre %></th>
                    <td><%= carrito.precio %></td>
                    <td><%= carrito.cantidad %></td>
                    <td><%= carrito.cantidad*carrito.precio %></td>
                    <td><%= link_to "eliminar",  carrito, method:'delete' %></td>
                </tr>
                <% @sub =+ carrito.cantidad*carrito.precio%>
                <% end %> 

                <% end %> 
                <%= @sub %>
                
                
                </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-3">
            <div class="col-12 bg-light ml-5 mt-5 rounded">
                <div class="column pt-3">
                    <p class="cupon-desc">Cupon de descuento</p>
                    <div class="d-flex justify-content-between">
                        <input type="text" class="form-control mr-3" placeholder="Cupon de descuento">
                        <p></p>
                        <button type="button" class="btn btn-outline-danger ">AGREGAR</button>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <p class="subtotal">Subtotal</p>
                        <p class="subtotal"></p>
                    </div>
                    <div class="d-flex justify-content-between pt-3" style="border-top: 1px solid #b3b3b3;">
                        <p class="total-label">Total</p>
                        <p class="total-prec"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 ml-5 mt-2">
                <div class="container">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <p class="terminos">He leído y acepto los Términos y Condiciones del sitio. Acepto también la Política de Privacidad y Seguridad y la Política de Cookies.</p>
                </div>   
            </div>
            
            <div class="col-12 ml-5 mt-2">
            <% @carritos.each do |carrito| %>
            <%= form_for(@orden) do |f| %>
                
                    <%= f.text_field :nombre , style:'display:none', value:carrito.nombre %>
                    <%= f.text_field :precio , style:'display:none', value:carrito.precio %>
                    <%= f.text_field :cantidad , style:'display:none', value:carrito.cantidad %>
                    <%= f.text_field :time , style:'display:none', value:Time.now %>
                    <%= f.text_field :user_id , style:'display:none', value:current_user.id %>
                    

                <%= f.submit "FINALIZAR COMPRA",class:'form-control btn btn-danger'%>
            </div>
            
            <div class="col-12 ml-5 mt-2">
                <%= link_to "<button class='form-control btn btn-outline-secondary'>VOLVER</button>".html_safe, root_path %>
            </div>
            <% end %>
        </div>
        <% end %> 
    </div>

    <div class="modal fade" id="compra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <label>Compra finalizada</label>
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Volver</button>

          </div>
        </div>
      </div>
    </div>
